* {
  box-sizing: border-box;
  }

html,
body {
margin: 0;
padding: 0;
width: 100%;
min-height: 100%;
}

body {
min-height: 100vh;
overflow-x: hidden;

font-family: Georgia, "Times New Roman", serif;
color: #51283b;

background:
radial-gradient(circle at 50% 0%, #ffffff 0%, rgba(255,255,255,.5) 22%, transparent 45%),
radial-gradient(circle at 0% 100%, #d8d2ff 0%, transparent 42%),
radial-gradient(circle at 100% 100%, #ffd0e2 0%, transparent 42%),
linear-gradient(135deg, #f4aeca 0%, #dfc2ec 50%, #bdcef4 100%);
}

/* Праздничные светлые точки */
body::before {
content: "♥   ✦   ♥   ✦   ♥   ✦   ♥";
position: fixed;
top: 20px;
left: 0;
width: 100%;

text-align: center;

color: rgba(255,255,255,.9);
font-size: 26px;
letter-spacing: 10px;

pointer-events: none;
z-index: 0;
}

/* =========================
ЦЕНТР
========================= */

#app {
position: relative;
z-index: 3;

width: min(900px, calc(100% - 220px));

margin: 0 auto;
padding: 55px 0;
}

/* =========================
БОЛЬШИЕ ШАРЫ
========================= */

.side-decor {
position: fixed;
top: 0;
bottom: 0;

width: 145px;

display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

z-index: 2;
pointer-events: none;
}

.side-decor.left {
left: 0;
}

.side-decor.right {
right: 0;
}

.side-decor span {
display: block;

font-size: 75px;
line-height: 1;

filter: drop-shadow(
0 10px 8px rgba(70,30,60,.18)
);

animation: balloonFloat 4s ease-in-out infinite;
}

.side-decor span:nth-child(2) {
animation-delay: .5s;
}

.side-decor span:nth-child(3) {
animation-delay: 1s;
}

.side-decor span:nth-child(4) {
animation-delay: 1.5s;
}

.side-decor span:nth-child(5) {
animation-delay: 2s;
}

.side-decor span:nth-child(6) {
animation-delay: 2.5s;
}

@keyframes balloonFloat {
0%,
100% {
transform: translateY(0) rotate(-5deg);
}

50% {
transform: translateY(-18px) rotate(5deg);
}
}

/* =========================
ЛЕТЯЩИЕ СЕРДЦА
========================= */

#hearts {
position: fixed;
inset: 0;

overflow: hidden;
pointer-events: none;

z-index: 20;
}

.flying-heart {
position: absolute;
bottom: -80px;

opacity: 0;

font-size: 32px;

animation: flyHeart linear forwards;
}

@keyframes flyHeart {
0% {
transform: translateY(0) translateX(0);
opacity: 0;
}

15% {
opacity: .9;
}

100% {
transform:
translateY(-110vh)
translateX(var(--move))
rotate(360deg);

```
opacity: 0;
```

}
}

/* =========================
ЭКРАНЫ
========================= */

.gift,
.letter,
.memories,
.final-screen,
.secret-screen {
position: relative;

width: 100%;

text-align: center;

border: 3px solid rgba(255,255,255,.9);
border-radius: 42px;

box-shadow:
0 25px 75px rgba(70,30,60,.24);

overflow: hidden;

animation: appear .7s e
